@charset "utf-8";
/* CSS Document */

body {
	background: url(week7/images/bg.png);
	margin: 0;
	font-family: "Helvetica", san-serif;
	line-height: 1.4em;
}

.container {
	width: 800px;
	margin: 0 auto;	
}

h1,h2,h3 {
	margin: 0;
	}

h1 {
	margin: 0;
	padding: 15px;
	color: #fff;
	text-shadow: 1px 1px 2px #424242;
}

#recipes {
	padding:15px;
}

table,tr,td {
	border: 1px solid #ccc;
	border-collapse: collapse;	
	}

table td {
	padding: 5px;
	}