@charset "utf-8";
/* CSS Document */

body {width: 600px; margin: 0em auto; background-color: #999;}

a {text-decoration: none;}
#text {background-color: #fff; padding: 15px;}

h1 {text-shadow: 0.1em 0.1em 0.1em #999;}

h4 {color: #F00;}